@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;500&display=swap');

.main-container {
    margin: 0% 6%;
    font-family: 'Roboto', sans-serif;
}

.sinxro {
    margin-top: 21px;
    margin-bottom: 50px;
}

.date {
    display: flex;

}

.date-p {
    margin-right: 30px;
    margin-left: 7px;
    font-size: 20px;
}

.globe,
.time,
.calendar {
    width: 22px;
    height: 21px;
    margin-top: 20px;
}

h1 {
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 600px;
    font-family: 'Roboto Slab', serif;
}

.lessons {
    width: 414px;
}

.head {
    display: flex;
}

.sittingman {
    width: 304px;
    height: 356px;
    margin-top: 5px;
    margin-left: 200px;
    position: absolute;
    z-index: 1;

}

.shadow {
    position: relative;
    margin-left: 250px;
    margin-top: 340px;


}

.blueborder {
    background-color: #1E4681;
    width: 450px;
    height: 200px;
    margin-left: 350px;
    margin-top: 70px;
}

.proverbtext {
    color: white;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 25px;
    margin-bottom: -20px;
}

.author {
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

h2 {
    margin-top: 150px;
    font-size: 55px;
    font-family: 'Roboto Slab', serif;
}

.movies {
    width: 57%;
}

.movietext1 {
    font-size: 24px;
    margin-bottom: 40px;
}

.middle {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

#cameraman {
    position: absolute;
    z-index: 1;

}

#shadow {
    margin-left: -40px;
    margin-top: 280px;
    position: relative;

}

.averagebox {
    display: flex;
    margin-top: 4%;
}

#director {
    position: absolute;
    z-index: 1;
}

#shadow3 {
    position: relative;
    margin-top: 185px;
    margin-left: 35px;
}

.period {
    display: flex;
    margin-left: 10%;
    margin-top: 3%;
    margin-right: 7%;
}

h4 {
    font-size: 25px;
    margin-left: 10px;
}

.period p {
    font-size: 18px;
}

.webinar {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.webinar h4 {
    color: #1E4681;
}

.webinar div {
    width: 31%;
}

ul {
    width: 35%;
}

.borders {
    border: 1px solid rgb(252, 252, 252);
    width: 399px;
    height: 380px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
}

.borders img {
    width: 399px;
    height: 160px;
}

h3 {
    font-size: 30px;
    padding-left: 20px;
}

.times {
    font-size: 25px;
    width: 60%;
    padding-left: 15px;
}

.firstrow {
    margin-left: -40px;
    display: flex;
    margin-bottom: -5%;
}

.bluecontainer {
    height: 780px;
    margin-top: 50px;
    background-color: #EFEFEF;
    min-width: 1340px;
    max-width: 1340px;
}

.goodnews {
    margin: 0 9%;
}

.sub-news {
    border: 1px solid rgb(255, 255, 255);
    background-color: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 74%;
}

.sub-news p {
    margin: 5%;
}

.statistics {
    padding-top: 10%;
    padding-bottom: 3%;
}

.newstext {
    font-size: 20px;
}

#girlimage {
    margin-left: 10%;
    margin-bottom: 3%;
}

#fbook {
    margin-left: 20px;
}

.imageblock {
    display: flex;
}

.ekatirina {
    margin-left: 3%;
}

.pinkcontainer {
    display: flex;
    align-items: flex-start;
    background-color: #9DC9C8;
    height: 780px;
    flex-direction: column;
    padding-left: 8%;
    min-width: 1233px;
    max-width: 1233px;
}

.lastblock p {
    margin-bottom: -20px;
}

#rubl {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.h6 {
    font-size: 25px;
    font-weight: 900;
}

.sub-paragraph {
    display: flex;
    margin-top: 2%;
}

h6 {
    font-size: 25px;
    font-weight: 400;
}

.headline-p {
    font-size: 18px;
    margin-top: -45px;
    font-weight: 400;
}

.aboutcourse {
    width: 23%;

}

.p {
    margin-left: 10%;
}

.two {
    margin-left: 3%;
}

.blackcontainer {
    background-color: black;
    height: 390px;
    display: flex;
    align-items: flex-start;
    padding-left: 10%;
    min-width: 1207px;
    max-width: 1207px;
}

.sinxrologo {
    margin: 15% 5%;
    margin-bottom: 25px;
}

#lastp {
    margin-top: 60%;
    color: rgb(255, 255, 255);
}

.contact {
    margin-left: 40%;
    margin-top: 3%;
}

.contactlogo {
    display: flex;
}

.phone {
    display: flex;
    flex-direction: column;
}

#phonelogo {
    margin-bottom: 120%;
}

.contactlogo p {
    color: white;
}

.mail {
    margin-top: -22px;
    margin-left: 15px;
}

.mail p {
    font-size: 25px;
}

@media screen and (min-width: 992px) and (max-width: 1297px) {
    .sinxro {
        width: 65px;
        height: 39px;
    }

    .date-p {
        font-size: 12px;
    }

    .globe,
    .time,
    .calendar {
        width: 12.74px;
        height: 12.16px;
        margin-top: 12px;
    }

    h1 {
        font-size: 46px;
        margin-top: -5px;
        margin-bottom: 5px;
        width: 360px;
        font-family: 'Roboto Slab', serif;
    }

    .lessons {
        width: 264px;
        font-size: 12px;
    }

    .sittingman {
        margin-left: 80px;
        width: 176px;
        height: 206px;
        position: absolute;
        z-index: 1;
    }

    .shadow {
        position: relative;
        margin-left: 100px;
        margin-top: 200px;
        width: 42%;
    }

    .blueborder {
        background-color: #1E4681;
        width: 280px;
        height: 115px;
        margin-left: 170px;
        margin-top: 70px;
    }

    .proverbtext {
        color: white;
        padding-left: 15px;
        padding-top: 15px;
        font-size: 14px;
        margin-bottom: -5px;
    }

    .author {
        color: rgb(255, 255, 255);
        font-size: 12px;
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
    }

    h2 {
        font-size: 32px;
        font-family: 'Roboto Slab', serif;
    }

    .movietext1 {
        width: 81%;
        font-size: 14px;
        margin-bottom: 40px;
    }

    #cameraman {
        width: 181px;
        height: 182px;
        position: absolute;
        z-index: 1;
        margin-left: 110px;
    }

    #shadow {
        width: 55%;
        margin-left: 85px;
        margin-top: 165px;
        position: relative;
    }

    #director {
        width: 134px;
        height: 117px;
        position: absolute;
        z-index: 1;
        position: absolute;
    }

    #shadow3 {
        position: relative;
        width: 85%;
        position: relative;
        margin-top: 105px;
        margin-left: 15px;
    }

    h4 {
        font-size: 15px;
        margin-left: -1px;
        margin-bottom: -5px;
    }

    .period p {
        font-size: 11px;
        width: 60%;
        margin-right: 120px;
    }

    h2 1 {
        font-size: 32px;
    }

    .webinar div {
        width: 21%;
    }

    .webinar p {
        font-size: 11px;
    }

    .webinar h4 {
        font-size: 15px;
    }

    ul {
        font-size: 14px;
        margin-left: -20px;
    }

    .borders {
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
        width: 231.09px;
        height: 189.97px;
    }

    .borders img {
        width: 231px;
        height: 100px;
    }

    h3 {
        margin-top: 0px;
        margin-left: -5px;
        font-size: 17px;
    }
    .lasted {
        margin-top: -11px;
    }
    .times {
        font-size: 14px;
    }

    .firstrow {
        margin-left: -30px;
    }

    .bluecontainer {
        height: 450px;
        background-color: #EFEFEF;
    }

    .sub-news {
        border: 1px solid rgb(255, 255, 255);
        background-color: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
        width: 458px;
        height: 261px;
    }

    .statistics {
        padding-top: 5%;
    }

    .sub-news p {
        width: 415px;
        font-size: 12px;
    }

    #girlimage {
        width: 60%;
    }

    .ekatirina {
        margin-left: -60px;
    }

    #fbook {
        width: 12%;
    }

    .pinkcontainer {
        height: 451px;
    }

    .lastblock {
        margin-top: -50px;
    }

    .lastblock p {
        margin-bottom: 1%;
        font-size: 14px;
    }

    #rubl {
        font-size: 46px;
    }

    .headline-p {
        font-weight: 400;
        font-size: 10px;
    }

    h6 {
        margin-bottom: 50px;
        font-size: 14px;
        font-weight: 400;
    }

    .blackcontainer {
        height: 225px;
    }

    .sinxrologo img {
        margin-left: -30px;
        width: 67px;
        height: 40px;
    }

    #lastp {
        margin-top: 50%;
        color: rgb(255, 255, 255);
    }

    .logos {
        margin-left: -25px;
        margin-top: -10px;
    }

    .logos img {
        width: 19px;
        height: 19px;
    }

    .mail p {
        font-size: 14px;
        margin-top: 30px;
    }

    #mailname {
        margin-top: -5px;
    }

    #phonelogo {
        width: 16px;
        height: 16px;
    }

    #maillogo {
        width: 16px;
        height: 11px;
    }
}

@media screen and (min-width: 320px) and (max-width: 991px) {
    .total {
        min-width: 375px;
        max-width: 375px;
    }

    .sinxro {
        margin-top: 36px;
        width: 52px;
        height: 31px;
    }

    .date {
        width: 400px;
    }

    .date-p {
        font-size: 10px;
        margin-right: 10px;
        margin-left: 2px;
    }

    .globe,
    .time,
    .calendar {
        width: 10.25px;
        height: 9.75px;
        margin-top: 12px;
    }

    h1 {
        font-size: 37px;
        width: 292px;
    }

    .lessons {
        font-size: 10px;
        width: 212px;
    }

    .head {
        display: flex;
        flex-direction: column;
    }

    .sittingman {
        margin-left: 150px;
        width: 141.66px;
        height: 165.89px;
        z-index: 1;
        position: absolute;

    }

    .shadow {
        position: relative;
        margin-left: 160px;
        margin-top: 160px;
        width: 150px;
    }

    .blueborder {
        background-color: #1E4681;
        width: 225.36px;
        height: 93.19px;
        margin-left: 10px;
        margin-top: 70px;

    }

    .proverbtext {
        color: white;
        padding-left: 15px;
        padding-top: 15px;
        font-size: 11px;
        margin-bottom: -5px;
        width: 200;
    }

    .author {
        color: rgb(255, 255, 255);
        font-size: 13px;
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }

    h2 {
        margin-top: 50px;
        font-size: 26px;
        font-family: 'Roboto Slab', serif;
    }

    .movietext1 {
        width: 308.47px;
        font-size: 12px;
        margin-bottom: 20px;
    }

    .head {
        display: flex;
        flex-direction: column;
    }

    #cameraman {
        width: 146px;
        height: 146px;
        margin-top: 200px;
        margin-left: 10px;
        position: absolute;
    }

    #shadow {
        width: 171px;
        height: 28px;
        margin-left: 1px;
        margin-top: 335px;
        margin-bottom: 30px;
        position: relative;
    }

    #director {
        display: none;
    }

    #shadow3 {
        display: none;
    }

    .movietext1 {
        width: 320px;
    }

    .middle {
        width: 200px;
    }

    h4 {
        font-size: 12px;
        margin-left: 1px;
        margin-bottom: -5px;
    }

    .period {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
        width: 250px;
    }

    .period p {
        width: 84px;
        height: 18px;
        ;
        font-size: 10px;
    }

    .period-two {
        margin-left: 40px;
    }

    h2 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .webinar {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .webinar p {
        font-size: 10px;
        width: 180px;
    }

    .webinar h4 {
        font-size: 12px;
        width: 99px;
    }

    ul {
        font-size: 12px;
        margin-left: -20px;
        margin-top: 90px;
        width: 300px;
        height: 175px;
    }

    .firstrow {
        display: flex;
        flex-direction: column;
    }

    .borders {
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
        width: 185px;
        height: 155px;
        margin-left: 70px;
    }
    .borders img {
        width: 185px;
        height: 75px;
    }
    .lasted {
        margin-top: -8px;
    }

    h3 {
        margin-top: 1px;
        margin-left: -5px;
        font-size: 14px;
    }

    .times {
        font-size: 12px;
    }

    .bluecontainer {
        min-width: 418px;
        max-width: 418px;
        background-color: #EFEFEF;
        height: 420px;
        margin-top: 80px;
    }

    .sub-news {
        border: 1px solid rgb(255, 255, 255);
        background-color: #FFFFFF;
        box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
        width: 300px;
        height: 240px;
    }

    .sub-news p {
        padding: 5px;
        font-size: 10px;
    }

    #girlimage {
        width: 50%;
        margin-left: 10px;
    }

    .ekatirina {
        margin-left: -100px;
        margin-top: 25px;
    }

    #fbook {
        width: 15px;
        height: 17px;
    }

    .pinkcontainer {
        height: 370px;
        min-width: 388px;
        max-width: 388px;
    }

    .lastblock h2 {
        width: 220px;
        margin-bottom: 25px;

    }

    .lastblock p {
        font-size: 12px;
    }

    #rubl {
        font-size: 37px;
        margin-top: 15px;
    }

    .headline-p {
        font-weight: 400;
        font-size: 10px;
        width: 138px;
    }

    h6 {
        margin-bottom: 50px;
        width: 137px;
        font-weight: 400;
        font-size: 12px;
    }
    .two {
        margin-left: 90px;
    }
    .blackcontainer {
        min-width: 380px;
        max-width: 380px;
        height: 251px;
        display: flex;
        flex-direction: column;
    }
    .sinxrologo img { 
        margin-left: -5px;
        width: 54px;
        height: 32px;
        margin-bottom: -15px;
    } 
    .logos img {
        width: 15px;
        height: 15px;
    }
    #lastp {
        font-size: 10px;
        margin-top: 145px;
    }
    .contactlogo {
        margin-top: -110px;
        margin-left: -150px;
    }
    .phone img {
        width: 12px;
        height: 12px;
    }
    .mail p {
        margin-left: -10px;
        margin-top: 15px;
        font-size: 12px;
    }
    #phonelogo {
        margin-top: -5px;
    }
}